@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.hide {
  display: none;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  font-family: "Titillium Web", sans-serif;
  font-size: 16px;
}

img {
  width: 100% !important;
  height: auto !important;
}

a {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  transition: all 0.3s ease-in-out;
}

a,
p,
h1.h2,
h3,
h4,
h5,
h6,
div,
span,
ul,
ol,
li,
table,
tr,
td,
th {
  margin: 0px;
  padding: 0px;
}

.top-header-address {
  background: #001743;
  text-align: center;
  padding: 20px 0px;
}
.top-header-address .heading-title {
  margin-bottom: 10px;
}
.top-header-address .heading-title h2 {
  font-family: "Titillium Web", sans-serif;
  color: #fff;
  font-weight: 900;
  font-size: 36px;
  line-height: 36px;
  display: inline-block;
  text-transform: uppercase;
  background: #008aeb;
  padding: 14px 12px;
  width: 763px;
  max-width: 100%;
  margin: 0 auto;
}
.top-header-address p {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 43px;
  color: #fff;
}

.danaheader.header {
  position: relative;
}
.danaheader.header nav {
  display: block;
}
.danaheader.header img {
  vertical-align: middle;
}
.danaheader.header .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.danaheader.header .sr-only-focusable:active,
.danaheader.header .sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.danaheader.header .container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 768px) {
  .danaheader.header .container {
    width: 744px;
  }
}
@media (min-width: 992px) {
  .danaheader.header .container {
    width: 964px;
  }
}
@media (min-width: 1224px) {
  .danaheader.header .container {
    width: 1200px;
  }
}
.danaheader.header .container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 12px;
  padding-right: 12px;
}
.danaheader.header .row {
  margin-left: -12px;
  margin-right: -12px;
}
.danaheader.header .nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.danaheader.header .nav > li {
  position: relative;
  display: block;
}
.danaheader.header .nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.danaheader.header .nav > li > a:hover,
.danaheader.header .nav > li > a:focus {
  text-decoration: none;
  background-color: #eee;
}
.danaheader.header .nav > li.disabled > a {
  color: #777;
}
.danaheader.header .nav > li.disabled > a:hover,
.danaheader.header .nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.danaheader.header .nav .open > a,
.danaheader.header .nav .open > a:hover,
.danaheader.header .nav .open > a:focus {
  background-color: #eee;
  border-color: #337ab7;
}
.danaheader.header .nav .nav-divider {
  height: 1px;
  margin: 10px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.danaheader.header .nav > li > a > img {
  max-width: none;
}
.danaheader.header .nav:before,
.danaheader.header .nav:after {
  content: " ";
  display: table;
}
.danaheader.header .nav:after {
  clear: both;
}
.danaheader.header .hide {
  display: none !important;
}
.danaheader.header .show {
  display: block !important;
}
.danaheader.header .header-logo-container {
  text-align: center;
  margin: 8px auto 0;
}
.danaheader.header .header-logo {
  display: inline-block;
  max-width: 100%;
}
.danaheader.header .header-logo img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.danaheader.header .header-reviews-rating {
  padding-top: 35px;
  text-align: center;
}
.danaheader.header .header-keywords {
  display: block;
  margin: 0 auto;
  color: #252525;
  font: 300 1.125em/1.4em "Titillium", Arial, Sans-Serif;
  text-transform: capitalize;
  vertical-align: middle;
  text-align: center;
}
.danaheader.header .header-review-info {
  display: inline-block;
  margin: 0 0 0 10px;
  padding: 0 0 0 90px;
  background: url(/Themes/Automotive/Assets/images/max-stars.png) no-repeat top 2px left;
  vertical-align: middle;
}
.danaheader.header .header-reviews-rating a {
  color: #252525;
  font: 400 0.875em/1.4em "Titillium", Arial, sans-serif;
  text-decoration: underline;
}
.danaheader.header .header-reviews-rating a:hover {
  text-decoration: none;
}
.danaheader.header .header-location-info {
  background: #0d3967;
}
.danaheader.header .header-phone-link {
  display: inline-block;
  padding: 10px 0 14px 50px;
  background: url(/Themes/Automotive/Assets/images/phone-icon.png) no-repeat left 10px top 15px;
  color: #fff;
  font: 900 1.5em/1.4 "titillium", Verdana, Sans-serif;
  text-transform: uppercase;
  text-decoration: none;
}
.danaheader.header .header-phone-link strong {
  font: inherit;
}
.danaheader.header .header-phone-link:hover,
.danaheader.header .header-phone-link:focus {
  color: #eaeaea;
  text-decoration: none;
}
.danaheader.header .btn-appointments {
  display: block;
  margin-bottom: 0;
  border-radius: 0;
  padding-left: 38px;
  background: #008aeb url(/Themes/Automotive/Assets/images/appointments-icon.png) no-repeat left 10px center;
  font-size: 1.0625em;
}
.danaheader.header .btn-appointments:hover,
.danaheader.header .btn-appointments:focus {
  background: #008aeb url(/Themes/Automotive/Assets/images/appointments-icon.png) no-repeat left 10px center;
  color: #252525;
}
.danaheader.header .nav-section {
  margin-top: 35px;
}
.danaheader.header .nav-trigger {
  display: block;
  padding: 10px;
  width: 50px;
  height: 45px;
  background: none;
}
.danaheader.header .nav-trigger .icon,
.danaheader.header .nav-trigger .icon:before,
.danaheader.header .nav-trigger .icon:after {
  position: relative;
  display: block;
  width: 100%;
  height: 20%;
  background: #fff;
  content: "";
  font-size: 0;
  border-radius: 5px;
}
.danaheader.header .nav-trigger .icon:before {
  top: -200%;
  height: 100%;
}
.danaheader.header .nav-trigger .icon:after {
  bottom: -100%;
  height: 100%;
}
.danaheader.header .nav {
  z-index: 500;
  position: relative;
  width: 100%;
  height: auto;
}
.danaheader.header .nav ul {
  list-style: none;
  text-align: center;
}
.danaheader.header .nav li {
  position: relative;
}
.danaheader.header .nav li:hover > ul,
.danaheader.header .nav li:focus > ul,
.danaheader.header .nav li:active > ul {
  display: block;
}
.danaheader.header .nav a {
  display: inline-block;
  text-decoration: none;
}
.danaheader.header .nav li.static {
  display: inline-block;
}
.danaheader.header .nav li.static {
  margin: 0 20px;
  padding: 8px 0;
}
.danaheader.header .nav li.static > a {
  color: #252525;
  font: 300 1.0625em/1.2em "Titillium", Arial, sans-serif;
}
.danaheader.header .nav li.static:first-child {
  margin-left: 0;
}
.danaheader.header .nav li.static:last-child {
  margin-right: 0;
}
.danaheader.header .nav li.static:hover > a,
.danaheader.header .nav li.static:focus > a,
.danaheader.header .nav li.static:active > a,
.danaheader.header .nav li.static a.selected {
  color: #008aeb;
  text-decoration: none;
}
.danaheader.header .nav ul.dynamic {
  z-index: 100;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  min-width: 220px;
  background: #008aeb;
}
.danaheader.header .nav li.dynamic {
  display: block;
  text-align: left;
}
.danaheader.header .nav li.dynamic.has-dynamic {
  padding-right: 15px;
}
.danaheader.header .nav li.dynamic > a {
  padding: 10px 20px;
  width: 100%;
  color: #fff;
  font: 400 1em/1.2em "titillium", Arial, sans-serif;
  text-decoration: none;
}
.danaheader.header .nav li.dynamic:hover > a,
.danaheader.header .nav li.dynamic:focus > a,
.danaheader.header .nav li.dynamic:active > a,
.danaheader.header .nav li.dynamic > a.selected {
  color: #252525;
}
.danaheader.header .nav ul.dynamic ul {
  top: 0;
  left: 100%;
  min-width: 100%;
}
.danaheader.header .nav li.static:last-child ul {
  left: -100% !important;
}
.danaheader.header .container-xl {
  max-width: 1596px;
  margin: auto;
}
@media (min-width: 1224px) and (max-width: 1600px) {
  .danaheader.header .header-phone-link {
    display: block;
    padding: 10px 0 15px;
    background: none;
    text-align: center;
  }
  .danaheader.header .btn-appointments {
    display: block;
    padding: 10px 0 15px;
    background: #008aeb;
    text-align: center;
  }
  .danaheader.header .btn-appointments:hover {
    background: #008aeb;
  }
}
@media (min-width: 992px) and (max-width: 1223px) {
  .danaheader.header .btn-appointments {
    padding-left: 12px;
    background: #008aeb;
  }
  .danaheader.header .btn-appointments:hover,
  .danaheader.header .btn-appointments:focus {
    background: #008aeb;
  }
}
@media (min-width: 992px) {
  .danaheader.header .nav-trigger {
    display: none;
  }
  .danaheader.header .nav-section ul.dynamic > .has-dynamic:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    display: block;
    border: 5px solid transparent;
    border-left: 5px solid #fff;
    width: 1px;
  }
}
@media (max-width: 991px) {
  .danaheader.header html,
  .danaheader.header body {
    font-size: 15px;
  }
  .danaheader.header .nav-trigger {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 901;
    background: #77716e;
    background: rgba(0, 138, 235, 0.5);
  }
  .danaheader.header .nav {
    z-index: 900;
    position: fixed;
    top: 0;
    right: -60%;
    overflow-y: auto;
    width: 60%;
    height: 100%;
    background: #008aeb;
  }
  .danaheader.header .nav.nav-hidden,
  .danaheader.header .nav.nav-visible {
    transition-duration: 0.5s;
  }
  .danaheader.header .nav.nav-visible {
    right: 0%;
    transition-timing-function: ease-in;
  }
  .danaheader.header .nav.nav-hidden {
    right: -60%;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  .danaheader.header .nav ul {
    position: static !important;
    margin: 5px 0 5px 20px;
    min-width: 0 !important;
    background: none !important;
    text-align: left;
  }
  .danaheader.header .nav ul.static {
    margin-top: 70px;
  }
  .danaheader.header .nav li {
    display: block !important;
    background: none !important;
    text-align: left;
  }
  .danaheader.header .nav a {
    display: inline-block;
    width: auto;
  }
  .danaheader.header .nav li.static > a {
    color: #fff;
  }
  .danaheader.header .nav li.static:hover > a,
  .danaheader.header .nav li.static:focus > a,
  .danaheader.header .nav li.static:active > a,
  .danaheader.header .nav li.static a.selected {
    color: #252525;
    text-decoration: none;
  }
  .danaheader.header .nav-section ul.static > .has-dynamic:before,
  .danaheader.header .nav-section ul.dynamic > .has-dynamic:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 5px;
    display: block;
    border: 5px solid transparent;
    border-top: 5px solid #fff;
    width: 1px;
  }
  .danaheader.header .nav li.dynamic.has-dynamic {
    padding: 0;
  }
  .danaheader.header .header-location-info,
  .danaheader.header .btn-appointments {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
    text-align: left;
  }
}
@media (max-width: 450px) {
  .danaheader.header html,
  .danaheader.header body {
    font-size: 13px;
  }
}
@media (max-width: 350px) {
  .danaheader.header .header-logo-container {
    margin: 65px auto 0;
  }
}
@font-face {
  font-family: "titillium";
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-light-webfont.eot");
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-light-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-light-webfont.woff") format("woff"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-light-webfont.ttf") format("truetype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-light-webfont.svg#titillium_weblight") format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-black-webfont.eot");
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-black-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-black-webfont.woff") format("woff"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-black-webfont.ttf") format("truetype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-black-webfont.svg#titilliumblack") format("svg");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-bold-webfont.eot");
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-bold-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-bold-webfont.woff") format("woff"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-bold-webfont.ttf") format("truetype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-bold-webfont.svg#titilliumbold") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "titillium";
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-regular-webfont.eot");
  src: url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-regular-webfont.woff") format("woff"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-regular-webfont.ttf") format("truetype"), url("/Themes/Automotive/Assets/fonts/titilliumweb/titilliumweb-regular-webfont.svg#titilliumregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "cms";
  src: url("/Themes/Automotive/Assets/fonts/cms/cms.eot");
  src: url("/Themes/Automotive/Assets/fonts/cms/cms.eot?#iefix") format("embedded-opentype"), url("/Themes/Automotive/Assets/fonts/cms/cms.woff") format("woff"), url("/Themes/Automotive/Assets/fonts/cms/cms.ttf") format("truetype"), url("/Themes/Automotive/Assets/fonts/cms/cms.svg") format("svg");
  font-style: normal;
  font-weight: normal;
}

/* navbar css start */
.navbar.nav-scroll {
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 999;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.navbar.navbar-wrapper {
  text-align: center;
  padding: 0rem !important;
  width: 100%;
  transition: all 0.3s ease-in-out;
  z-index: 999;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navbar.navbar-wrapper .row {
  width: 100%;
  margin: 0px;
  padding: 0px;
  justify-content: space-between;
}
.navbar.navbar-wrapper .col {
  padding: 0px;
}
.navbar.navbar-wrapper .review-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.navbar.navbar-wrapper .review-section .reviewtitle {
  font-size: 18px;
  line-height: 25px;
  color: #252525;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
}
.navbar.navbar-wrapper .review-section .rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar.navbar-wrapper .review-section .rating .stars i {
  color: #F5BD00;
  font-size: 13px;
}
.navbar.navbar-wrapper .review-section .rating a {
  font-size: 14px;
  line-height: 20px;
  color: #252525;
  font-weight: 400;
  font-family: "Titillium Web", sans-serif;
}
.navbar.navbar-wrapper .navbar-toggler:focus,
.navbar.navbar-wrapper .navbar-toggler:hover {
  box-shadow: none;
  outline: none;
}
.navbar.navbar-wrapper .navbar-toggler {
  font-size: 25px;
  color: #fff;
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 138, 235, 0.5);
  border-radius: 0px;
  padding: 10px 15px;
  z-index: 100;
  border: none;
}
.navbar.navbar-wrapper .navbar-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.7rem;
  font-family: "Titillium Web", sans-serif;
  font-style: italic;
  font-weight: 700;
  line-height: 3.5rem;
  color: red;
  height: 100%;
}
.navbar.navbar-wrapper .navbar-brand .logo {
  margin-right: 1.2rem;
  max-width: 200px;
  max-height: 100px;
}
.navbar.navbar-wrapper .collapse,
.navbar.navbar-wrapper .navbar-collapse {
  height: 100%;
}
.navbar.navbar-wrapper .navbar-nav {
  flex-wrap: wrap;
  justify-content: center;
}
.navbar.navbar-wrapper .navbar-nav .nav-item .nav-link {
  font-size: 17px;
  text-align: center;
  margin-right: 0;
  transition: all 0.3s ease-out;
  padding: 8px 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  font-family: "Titillium Web", sans-serif;
  color: #252525;
}
.navbar.navbar-wrapper .navbar-nav .nav-item .nav-link.active, .navbar.navbar-wrapper .navbar-nav .nav-item .nav-link:hover {
  color: #008aeb;
  transition: all 0.3s ease-out;
}
.navbar.navbar-wrapper .navbar-nav .nav-item:first-child a {
  padding-left: 0px;
}
.navbar.navbar-wrapper .hederbuttons-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.navbar.navbar-wrapper .hederbuttons-section .phonenumber {
  font-size: 24px;
  line-height: 34px;
  font-weight: 900;
  color: #eaeaea;
  font-family: "Titillium Web", sans-serif;
  background: #0d3967;
  padding: 10px 0 15px;
  text-align: center;
  display: block;
  width: 100%;
}
.navbar.navbar-wrapper .hederbuttons-section .appointment {
  font-size: 17px;
  line-height: 27px;
  font-weight: 700;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  background: #008aeb;
  padding: 10px 0 15px;
  text-align: center;
  display: block;
  width: 100%;
}

/* navbar css end */
.hero-section {
  width: 100%;
  height: 410px;
  background-image: url("../images/slideshow-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: visible;
  margin-bottom: 70px;
}
.hero-section::before {
  z-index: 5;
  content: "";
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 85px 1920px;
  border-color: transparent transparent white transparent;
}
.hero-section .content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 20%;
  z-index: 9;
}
.hero-section .content .herotxt {
  font-size: 48px;
  font-weight: 300;
  line-height: 67px;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}
.hero-section .content .hero-title {
  font-size: 60px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}
.hero-section .content .hero-logo {
  width: 200px;
  margin-top: 30px;
}

.service_section {
  margin-bottom: 83px;
}
.service_section .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.service_section .content::before {
  z-index: -1;
  content: "Special Offers";
  position: absolute;
  top: 18px;
  right: 0;
  left: 0;
  overflow: hidden;
  max-height: 150px;
  color: #eaeaea;
  font-size: 128px;
  line-height: 150px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
.service_section .content .service_title {
  margin-bottom: 7px;
  font-family: "Titillium Web", sans-serif;
  font-size: 48px;
  line-height: 67px;
  color: #008aeb;
  font-weight: 300;
  text-align: center;
}
.service_section .content .subtitle {
  font-size: 18px;
  line-height: 25px;
  color: #252525;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-align: center;
}
.service_section .content .substracttxt {
  font-size: 18px;
  line-height: 25px;
  color: #252525;
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  text-align: center;
}
.service_section .content .substracttxt b {
  font-weight: 700;
}
.service_section .content .redeembtn {
  font-size: 18px;
  line-height: 29px;
  color: #ffffff;
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  text-align: center;
  display: inline-block;
  padding: 15px 40px;
  margin: 10px auto;
  background-color: #008aeb;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  border-radius: 3px;
}
.service_section .content .redeembtn:hover {
  background: #0d3967;
}
.service_section #text {
  display: none;
}
.service_section #toggle {
  border: none;
  background: transparent;
  transition: all 0.5s ease-in-out;
}
.service_section #toggle:hover {
  color: #008AEB;
}

.service-quality-card {
  margin-bottom: 40px;
  background: #0d3967;
  text-align: center;
}
.service-quality-card .row .col {
  margin: 11px 0px;
}
.service-quality-card .card {
  background: transparent;
  border: none;
  border-radius: 0px;
  padding: 0px;
}
.service-quality-card .card .card-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 40px;
  padding: 0px;
}
.service-quality-card .card .card-body .card-title {
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}
.service-quality-card .row .col:nth-child(2) .card {
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.services-cards {
  margin: 100px 0px;
}
.services-cards .card-content {
  margin: 24px 0 48px;
}
.services-cards .card-content .section-title {
  font-size: 48px;
  line-height: 48px;
  color: #2a2a2a;
  font-weight: 700;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
.services-cards .card-content .section-details {
  font-size: 18px;
  line-height: 32px;
  color: #252829;
  font-weight: 700;
  text-align: center;
  font-family: "Titillium Web", sans-serif;
}
.services-cards .row .col .card {
  margin: 0px 40px;
  border: none;
  border-radius: 0px;
  background: #0D3967;
  position: relative;
  overflow: hidden;
}
.services-cards .row .col .card::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 25px 400px;
  border-color: transparent white transparent;
}
.services-cards .row .col .card .cardimg {
  position: relative;
}
.services-cards .row .col .card .cardimg::after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 50%;
  background: linear-gradient(180deg, rgba(13, 57, 103, 0), #0D3967);
}
.services-cards .row .col .card img {
  -o-border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.2), #000);
     border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.2), #000);
}
.services-cards .row .col .card .card-body {
  padding: 0px 25px 25px 25px;
}
.services-cards .row .col .card .card-body .card-title {
  font-size: 26px;
  line-height: 26px;
  color: #fff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  border-bottom: 1px solid #3d6185;
  padding-bottom: 15px;
  margin-top: 22px;
  margin-bottom: 11px;
}
.services-cards .row .col .card .card-body .card-text {
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
}

.logos-section {
  margin: 100px 0px;
}
.logos-section .row {
  display: flex;
  justify-content: center;
}
.logos-section .logo-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  gap: 50px;
}

.testimonial_section {
  background: url("../images/testimonials--bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding: 90px 0px;
  margin: 100px 0px;
}
.testimonial_section .qoutes {
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  margin: 0 auto;
  width: 140px;
  height: 105px;
}
.testimonial_section .testimonial_section_inner {
  padding: 0rem;
  padding: 0rem;
  margin: 0rem;
}
.testimonial_section .testimonial_section_inner .section_header .subheading {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}
.testimonial_section .testimonial_section_inner .section_header .heading {
  font-size: 68px;
  line-height: 68px;
  color: #fff;
  font-weight: 800;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.testimonial_section .testimonial_section_inner .row {
  width: 100%;
  height: 100%;
  padding: 0rem;
  margin: 0rem;
  position: relative;
}
.testimonial_section .testimonial_section_inner .row .swiper {
  overflow-y: visible;
  height: auto;
}
.testimonial_section .testimonial_section_inner .row .myswiper {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0%;
  margin: 0%;
  margin-top: 20px;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-wrapper {
  overflow: hidden;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide {
  width: 100%;
  overflow: visible;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide p.testimonial_desc {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide .reviews-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide .reviews-details .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide .reviews-details .stars i {
  color: #F5BD00;
  font-size: 12px;
}
.testimonial_section .testimonial_section_inner .row .myswiper .swiper-slide .reviews-details .name {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.testimonial_section .testimonial_section_inner .row .myswiper .button-area {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  z-index: 55;
}
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .prev {
  border-right: 1px solid #fff;
}
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .prev,
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .next {
  padding: 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 1.7rem;
  width: 50%;
  display: flex;
  justify-content: center;
  transition: all 0.4s ease-out;
}
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .prev img,
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .next img {
  max-width: 4rem;
  margin: 0rem 1rem;
}
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .prev:hover,
.testimonial_section .testimonial_section_inner .row .myswiper .button-area .next:hover {
  background: red;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item {
  margin: 5px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item p.testimonial_desc {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item .reviews-details {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item .reviews-details .stars {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item .reviews-details .stars i {
  color: #F5BD00;
  font-size: 12px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .item .reviews-details .name {
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
}
.testimonial_section .testimonial_section_inner .owl-carousel .owl-dots .owl-dot {
  display: inline-block;
  margin: 0 5px;
}
.testimonial_section .testimonial_section_inner .owl-carousel .owl-nav {
  position: absolute;
  bottom: -180px;
  transform: translate(-50%, -50%);
  left: 50%;
  margin: 0rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
.testimonial_section .testimonial_section_inner .owl-carousel .owl-nav [class*=owl-] {
  margin: 5px;
  position: relative;
  left: 0rem;
  font-size: 2rem;
  /* Increase icon size */
  color: #fff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  /* Change icon color */
}
.testimonial_section .testimonial_section_inner .viewallreviews {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.testimonial_section .testimonial_section_inner .viewallreviews a {
  font-size: 18px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 3px;
  padding: 18px 55px;
  text-transform: uppercase;
}

.fleet_services_section {
  margin: 100px 0px;
}
.fleet_services_section .fleetheading {
  font-size: 48px;
  line-height: 48px;
  color: #2a2a2a;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin: 40px 0px;
}
.fleet_services_section .fleetdesc {
  font-size: 19px;
  line-height: 30px;
  color: #252829;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  margin-bottom: 40px;
}
.fleet_services_section .fleetbtn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fleet_services_section .fleetbtn a {
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  border-radius: 3px;
  text-transform: uppercase;
  background: #0d3967;
  padding: 15px 60px;
  display: inline-block;
}

.appointment_section {
  background: url("../images/appointments-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  padding: 90px 0px;
  margin: 100px 0px;
}
.appointment_section::before {
  z-index: 5;
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  left: 0;
  border-style: solid;
  border-width: 0px 0px 40px 1900px;
  border-color: transparent white transparent;
}
.appointment_section .section_header .subheading {
  font-size: 48px;
  line-height: 48px;
  color: #fff;
  font-weight: 600;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
}
.appointment_section .section_header .heading {
  font-size: 68px;
  line-height: 68px;
  color: #fff;
  font-weight: 800;
  font-family: "Titillium Web", sans-serif;
  text-align: center;
  text-transform: uppercase;
}
.appointment_section form input,
.appointment_section form select {
  font-size: 17px;
  line-height: 17px;
  color: #fff;
  font-weight: 300;
  font-family: "Titillium Web", sans-serif;
  background: transparent;
  width: 100%;
  border: none;
  box-shadow: unset;
  outline: transparent;
  border-bottom: 4px solid #777476;
  margin: 0 auto 15px;
  padding: 0.8em 1.3em;
}
.appointment_section form input:focus,
.appointment_section form select:focus {
  border-bottom: 4px solid #fff;
}
.appointment_section form input::-moz-placeholder, .appointment_section form select::-moz-placeholder {
  color: #fff;
}
.appointment_section form input::placeholder,
.appointment_section form select::placeholder {
  color: #fff;
}
.appointment_section form input[type=date] {
  margin: 5px auto 15px;
}
.appointment_section form select {
  margin: -2px auto 15px;
}
.appointment_section form .submitbtn {
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-weight: 700;
  font-family: "Titillium Web", sans-serif;
  text-transform: uppercase;
  text-align: center;
  background-color: #008aeb;
  display: inline-block;
  border-radius: 3px;
  margin: 0 auto 1em;
  margin-top: 40px;
  padding: 15px 60px;
  transition: all 0.5s ease-in-out;
}
.appointment_section form .submitbtn:hover {
  background: #0D3967;
}

@media only screen and (min-width: 768px) {
  .testimonial_section .testimonial_section_inner .section_header {
    position: relative;
  }
  .testimonial_section .testimonial_section_inner .section_header::before {
    content: "Client Reviews";
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow: hidden;
    max-height: 100px;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 120px;
    line-height: 100px;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
  }
  .appointment_section .section_header {
    position: relative;
  }
  .appointment_section .section_header::before {
    content: "appointment";
    position: absolute;
    bottom: 30px;
    right: 0;
    left: 0;
    overflow: hidden;
    max-height: 100px;
    color: rgba(255, 255, 255, 0.1);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 120px;
    line-height: 100px;
    font-family: "Titillium Web", sans-serif;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .navbar.navbar-wrapper .hederbuttons-section {
    flex-direction: row;
  }
  .navbar.navbar-wrapper .hederbuttons-section .appointment {
    font-size: 24px;
    line-height: 34px;
  }
  .service-quality-card .row .col:nth-child(2) .card {
    border: 0px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar-collapse {
    position: fixed;
    top: 0px;
    background: #008AEB;
    width: 50%;
    right: 0px;
    z-index: 99;
  }
  .navbar-nav {
    margin-top: 70px;
    flex-wrap: wrap;
  }
  .navbar.navbar-wrapper .navbar-nav .nav-item .nav-link {
    color: #fff;
    text-align: left;
    padding: 8px 20px !important;
    margin: 5px 0px;
  }
  .navbar.navbar-wrapper .navbar-nav .nav-item .nav-link.active {
    color: #000;
  }
  .top-header-address {
    padding-top: 70px;
  }
  .testimonial_section .testimonial_section_inner .section_header .heading {
    font-size: 60px;
  }
}
@media only screen and (max-width: 576px) {
  .navbar-collapse {
    width: 80%;
  }
  .navbar.navbar-wrapper .hederbuttons-section {
    flex-direction: column;
  }
  .container-fluid {
    padding: 0px;
  }
  .testimonial_section .testimonial_section_inner .section_header .heading {
    font-size: 46px;
    line-height: 60px;
  }
}/*# sourceMappingURL=style.css.map */